In [2]:
import pandas as pd

In [3]:
import datetime as dt

In [4]:
a = pd.read_csv('purchases.csv')

FileNotFoundError: [Errno 2] No such file or directory: 'purchases.csv'

In [6]:
b = pd.read_csv('users.csv')

In [9]:
mer = pd.merge(a, b, on='userId',how='inner')
merged = pd.DataFrame(mer)
merged

,purchaseId,userId,purchaseDate,productId,purchaseAmount,market,gender,birthdayDate,userCreatedDate
0,8867,2701,2/8/2022,1,320000,bazaar,FEMALE,3/21/1991,6/13/2021
1,445,2702,10/26/2021,1,250000,bazaar,FEMALE,9/12/1978,6/13/2021
2,4719,2703,12/18/2021,1,297500,IOS_TESTFLIGHT,FEMALE,10/21/1989,6/13/2021
3,3179,2704,11/28/2021,1,250000,play,FEMALE,8/12/2002,6/13/2021
4,5493,2705,12/27/2021,1,720000,IOS_TESTFLIGHT,FEMALE,3/29/1989,6/13/2021
...,...,...,...,...,...,...,...,...,...
9720,8507,53518,2/3/2022,1,2040000,IOS_TESTFLIGHT,FEMALE,11/12/1971,2/2/2022
9721,8511,53545,2/3/2022,1,720000,IOS_TESTFLIGHT,FEMALE,5/24/2001,2/2/2022
9722,9508,53559,2/18/2022,1,720000,IOS_TESTFLIGHT,FEMALE,3/21/1997,2/2/2022
9723,8480,53572,2/2/2022,1,250000,play,FEMALE,2/21/2008,2/2/2022
9724,8481,53583,2/2/2022,1,250000,bazaar,FEMALE,2/3/1984,2/2/2022

In [10]:
merged['purchaseDate'] = pd.to_datetime(merged['purchaseDate'])

In [11]:
merged['month_of_date'] = merged['purchaseDate'].dt.month

In [12]:
result = merged.groupby(['month_of_date', 'userId']).agg({'purchaseAmount': 'mean'})

In [13]:
result

                      purchaseAmount
month_of_date userId
1             3             500000.0
              4            1200000.0
              17            500000.0
              34           1200000.0
              38            500000.0
...                              ...
12            38081         250000.0
              38091         320000.0
              38100         420000.0
              38109         250000.0
              38129         250000.0

[9693 rows x 1 columns]